.footer {
    color: #faf0e6;
    background-color: #00008b;
}

.tile {
    background-image: url(../../../assets/img/tile.svg);

    padding-top: 20px;
}

.sosial {
    ul {
        li {
            list-style: none;
        }
    }
}

.copyRight {
    background-color: #0d0c5f;
    height: 45px;
    padding: 10px 0 10px 0;
    p {
        color: rgb(89, 89, 89);
        line-height: 25px;
        font-size: 12px;
    }
}
