.footer {
    color: #bfbfbf;
    background-color: #1d1d47;
    p {
        color: rgb(157, 157, 157);
    }
    li {
        color: rgb(157, 157, 157);
    }
}

.tile {
    background-image: url(../../../assets/img/tile.svg);
    padding-top: 20px;
}

ul {
    li {
        list-style: none;
    }
}

.copyRight {
    background-color: #000034;
    height: 45px;
    padding: 10px 0 10px 0;
    p {
        color: rgb(157, 157, 157);
        line-height: 25px;
        font-size: 12px;
    }
}
