.bgJumbotron {
    background-image: url(../../../assets/img/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.jumbotron {
    height: 400px;
    .heading {
        h1 {
            color: var(--bg);
            font-weight: 500;
        }
        p {
            font-weight: 500;
        }
    }
}

@media (max-width: 768px) {
    .heading {
        padding-top: 40%;
    }
}

@media (min-width: 768px) {
    .heading {
        padding-top: 18%;
    }
}

.firstTeks {
    background: linear-gradient(var(--biru));
    background-clip: text;
    color: transparent;
}

.lead {
    color: var(--kuning);
}

.arrow {
    a {
        background-color: rgba(245, 245, 245, 0.856);
        padding: 0 5px 0 5px;
        border-radius: 50%;
        i {
            background-image: linear-gradient(var(--biru));
            background-clip: text;
            color: transparent;
        }
    }
}
