.navbar {
    background-color: white;
    padding: 3px;
}

.navbar-toggler {
    border: none;
    margin-right: 20px;
}

.navbar-brand {
    width: 70px;
}

.nav-link {
    margin-left: 15px;
    margin-right: 20px;
    color: black;
}
.nav-link:hover {
    color: var(--teks);
}
