.paralax {
    .bgParalax {
        background-image: url(../../../assets/img/bg.jpg);
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        height: 400px;
    }
    .selogan {
        h1 {
            color: #faf0e6;
        }
    }
    @media (max-width: 768px) {
        .selogan {
            padding-top: 20%;
        }
    }

    @media (min-width: 768px) {
        .selogan {
            padding-top: 10%;
        }
    }
}
